		</div>

<!-- Footer -->
<footer class="bg-primary navbar-dark w-100">

  <!-- Copyright -->
  <div class="footerCopyright text-center py-3">© 2020 <a href="/"> YelpCamp</a> | All Rights Reserved | Site by <a href="https://blakeperkins.com" target="_blank">Blake Perkins</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

	</body>
</html>