<%- include("partials/header") %>

	<div id="landingSlider">
		<div id="landingHeader">
			<h1>Welcome to YelpCamp!</h1>
			<a href="/campgrounds" class="btn btn-lg btn-light mt-3">View all campgrounds</a>
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	
<%- include("partials/footer") %>