<%- include("./partials/header") %>

	<div class="text-center">
		<h1>Sign Up</h1>
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<form action="/register" method="POST">
					<div class="form-group">
						<label for="inputUsername" hidden>Username</label>
						<input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Username">
						<small id="usernameHelp" class="form-text text-muted">Enter Username</small>
					</div>
					<div class="form-group">
						<label for="inputPassword" hidden>Password</label>
						<input type="password" name="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password">
						<small id="passwordHelp" class="form-text text-muted">Enter Password</small>
					</div>
					<div class="form-group">
						<label for="inputAvatar" hidden>Avatar</label>
						<input type="text" name="avatar" class="form-control" id="inputAvatar" aria-describedby="avatarHelp" placeholder="Avatar URL">
						<small id="avatarHelp" class="form-text text-muted">Enter Avatar URL (size 200x200px)</small>
					</div>
					<div class="form-group">
						<label for="inputFirstName" hidden>First Name</label>
						<input type="text" name="firstName" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" placeholder="First Name">
						<small id="firstNameHelp" class="form-text text-muted">Enter First Name</small>
					</div>
					<div class="form-group">
						<label for="inputLastName" hidden>Last Name</label>
						<input type="text" name="lastName" class="form-control" id="inputLastName" aria-describedby="lastNameHelp" placeholder="Last Name">
						<small id="lastNameHelp" class="form-text text-muted">Enter Last Name</small>
					</div>
					<div class="form-group">
						<label for="inputEmail" hidden>Email</label>
						<input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">
						<small id="emailHelp" class="form-text text-muted">Enter Email</small>
					</div>
					<div class="form-group">
						<label for="inputAdminCode" hidden>Admin Code</label>
						<input type="text" name="adminCode" class="form-control" id="inputAdminCode" aria-describedby="adminCodeHelp" placeholder="Admin Code">
						<small id="adminCodeHelp" class="form-text text-muted">Enter Admin Code</small>
					</div>
				  <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
				</form>
				<p class="text-left mt-3"><a href="/campgrounds">Go Back</a></p>
			</div>
		</div>
	</div>

<%- include("./partials/footer") %>