.pageContent {
	min-height: 85.4vh
}

.campgroundListImg {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.campgroundSidebar {
	top: 5rem;
}

@media (max-width: 767px) {
	.campgroundSidebar {
		position: initial;
	}
}

.footerCopyright, .footerCopyright a {
	color: white;
}

.footerCopyright a:hover {
	opacity: .8;
}